/* Estilo general */
h3 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #000000; 
  font-size: 34px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ffffff; 
  border-radius: 12px;
  background: linear-gradient(145deg, #ffffff, #fefefe);
  box-shadow: 0px 8px 15px rgba(241, 236, 236, 0.999);
  margin-bottom: 30px;
}

.form-element {
  flex: 1 1 300px;
  max-width: 400px;
}

mat-form-field {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

mat-label {
  color: #060606; 
  font-family: 'Roboto', sans-serif;
}

.form-actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}
/**
button {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
}

button[color="primary"] {
  background-color: #fefffe; 
  color: #3700b3;
  transition: all 0.3s ease;
}

button[color="primary"]:hover {
  background-color: #bcb9f8; 
}

button[color="warn"] {
  background-color: #fefffe; 
  color: #3700b3;
  transition: all 0.3s ease;
}

button[color="warn"]:hover {
  background-color: #bcb9f8; 
}
**/
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ffffff; 
  border-radius: 12px;
  background: linear-gradient(145deg, #ffffff, #ffffff);
  box-shadow: 0px 8px 15px rgba(247, 245, 245, 0.988); 
  margin-bottom: 30px;
}

.search-container mat-form-field {
  flex: 1 1 200px;
  max-width: 300px;
}

app-table {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #8bc34a; 
  border-radius: 12px;
  background: linear-gradient(145deg, #f1f8e9, #dcedc8);
  box-shadow: 0px 8px 15px rgba(139, 195, 74, 0.3); 
}

app-table th {
  color: #6015e2; 
  font-weight: bold;
  font-size: 14px;
}

app-table td {
  color: #000000; 
  font-size: 14px;
}

app-table button {
  font-weight: bold;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

app-table button[color="accent"] {
  background-color: #ff9800; 
}

app-table button[color="accent"]:hover {
  background-color: #fb8c00; 
}

app-table button[color="warn"] {
  background-color: #e91e63; 
}

app-table button[color="warn"]:hover {
  background-color: #d81b60;
}
