<!-- Sección de productos -->
<div class="cards">
  <mat-card *ngFor="let prod of productos" class="card-productos" appearance="outlined">
    <mat-card-header>
      <img mat-card-sm-image class="product-image" [src]="prod.imagen" alt="{{ prod.nombre }}">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ prod.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ prod.precio | currency: 'USD' }}</mat-card-subtitle>
      <p>{{ prod.descripcion }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="agregarAlCarrito(prod)">
        Agregar al carrito
      </button>
    </mat-card-actions>
  </mat-card>
</div>
