<div class="cards">
  @for (prod of producto; track prod) {
    <mat-card class="card-productos" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-title>{{prod.nombre}}</mat-card-title>
          <mat-card-subtitle>{{prod.precio | currency: 'USD'}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{prod.descripcion}}
      </mat-card-content>
      <mat-card-actions class="card-footer">
        <button mat-mini-fab aria-label="add" (click)="agregarAlCarrito(prod)">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>

  