mat-form-field{
    padding: 4px;
    margin: 4px;
}
div{
  /*border: 1px solid black;*/
}
.container-pedido {
  display: flex;
  justify-content: space-between; /* Espacio entre los bloques */
}

.row {
  flex: 1; /* Cada bloque toma el mismo espacio */
  margin: 10px; /* Espacio alrededor de cada bloque */
}

.oneInputs mat-form-field{
  width: calc(100% - 8px);
}

.twoInputs mat-form-field{
  width: calc(50% - 8px);
}
