mat-form-field{
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
}
.column1{
    display: block;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  align-items:center;
}