<div class="tituloss">
    <h3>Agregar Pedido</h3>
</div>
<div class="container-pedido">
    
    
  <div class="row">

      <form [formGroup]="form" class="ocultar" (ngSubmit)="onSubmit()">
          <!-- Campos del formulario -->
          <div mat-subheader>Datos Personales</div>
          
          <div class="oneInputs">
              <mat-form-field appearance="fill" class="idpedido">
                  <mat-label>Pedido</mat-label>
                  <input type="text" matInput  formControlName="pedidoNumber">
                  <mat-error>
                    @if(form.get('pedidoNumber')?.invalid &&(form.get('pedidoNumber')?.dirty || form.get('pedidoNumber')?.touched)){
                        @if(form.get('pedidoNumber')?.errors?.['required']) {
                        Numero de pedido es requerido
                        }
                        @else if(form.get('pedidoNumber')?.errors?. ['pattern']){
                        El titulo solo debe contener numeros
                        }
                    }
                  </mat-error>
                        
                        
              </mat-form-field>
          </div>
          
          <div class="twoInputs">
              <mat-form-field>
                  <mat-label>Nombres Completos</mat-label>
                  <input matInput required type="text" formControlName="nombres">
                  <mat-error>
                    @if(form.get('nombres')?.invalid &&(form.get('nombres')?.dirty || form.get('nombres')?.touched)){
                        @if(form.get('nombres')?.errors?.['required']) {
                        Nombres completos es requerido
                        }
                        @else if(form.get('nombres')?.errors?. ['pattern']){
                        Los nommbres solo debe contener letras
                        }
                    }
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Cédula</mat-label>
                  <input matInput required type="text" formControlName="cedula">
                  <mat-error>
                    @if(form.get('cedula')?.invalid &&(form.get('cedula')?.dirty || form.get('cedula')?.touched)){
                        @if(form.get('cedula')?.errors?.['required']) {
                        Cedula es requerido
                        }
                        @else if(form.get('cedula')?.errors?. ['pattern']){
                        Cedula debe contener numeros
                        }
                    }
                    </mat-error>
              </mat-form-field>
          </div>
          <div class="oneInputs">
              <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input matInput required type="tel" formControlName="telefono">
                  <mat-error>
                    @if(form.get('telefono')?.invalid &&(form.get('telefono')?.dirty || form.get('telefono')?.touched)){
                        @if(form.get('telefono')?.errors?.['required']) {
                        Telefono es requerido
                        }
                        @else if(form.get('telefono')?.errors?. ['pattern']){
                        Telefono debe contener numeros
                        }
                    }
                    </mat-error>
              </mat-form-field>
              
          </div>
          <div class="oneInputs">
              <mat-form-field>
                  <mat-label>Provincia</mat-label>
                  <mat-select [(value)]="provinciaSeleccionada" formControlName="provincia">
                      <mat-option value="Guayas">Guayas</mat-option>
                      <mat-option value="Pichincha">Pichincha</mat-option>
                  </mat-select>
              </mat-form-field>
              
          </div>
          
          <div class="oneInputs">
              <mat-form-field class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <textarea matInput placeholder="Ej... Mapasingue Este" formControlName="direccion"></textarea>
                  <mat-error>
                    @if(form.get('direccion')?.invalid &&(form.get('direccion')?.dirty || form.get('direccion')?.touched)){
                        @if(form.get('direccion')?.errors?.['required']) {
                        Direccion es requerido
                        }
                        @else if(form.get('direccion')?.errors?. ['direccion']){
                        Direccion debe contener letras y numeros
                        }
                    }
                    </mat-error>
              </mat-form-field>
          </div>
          <div class="acciones-form">
            <button mat-flat-button type="submit">Agregar</button>
            <button mat-stroked-button type="reset" (click)="clearForm()">Cancelar</button>
          </div>
          
      </form>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="row" id="scroll">
      <div mat-subheader>Carrito</div>
      <mat-list class="centered-list">
          <ng-container *ngIf="header.productos.length; else noProducts">
              <mat-card class="card-productos" appearance="outlined" *ngFor="let prod of header.productos; track: $prod">
                  <mat-card-header>
                      <mat-card-title-group>
                          <img mat-card-sm-image [src]="prod.imagen">
                          <mat-card-title>{{prod.nombre}}</mat-card-title>
                          <mat-card-subtitle>{{prod.precio | currency: 'USD'}}</mat-card-subtitle>
                      </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                      {{prod.descripcion}}
                  </mat-card-content>
                 
              </mat-card>
          </ng-container>
          <ng-template #noProducts>
              <p>No hay productos</p>
          </ng-template>
      </mat-list>
      <div class="total">
          <h3>Total: {{ total | currency: 'USD' }}</h3>
      </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="ver-info">
    <!-- Buscador -->
    <div class="search-container">
        <mat-form-field>
            <mat-label>Buscar: </mat-label>
            <input matInput type="search" placeholder="Numero de pedido" #searchInput 
            (keyup)="search(searchInput)"/>
        </mat-form-field>
        <button mat-flat-button (click)="search(searchInput)">Buscar</button>
      </div>
    <app-table
        [dataSource]="dataSource" 
        [displayedColumns]="displayedColumns" 
        [columnAliases]="columnAliases" 
        (onEdit)="handleEdit($event)" 
        (onDelete)="handleDelete($event)"
    ></app-table>
</div>
