<!--  <form [formGroup]="form" class="ocultar" (submit)="onSubmit()"> -->
    
    
  <mat-form-field appearance="fill">
    <mat-label>Opciones</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track $index) {
        <mat-option  [value]="option.nombreCompleto">
          {{ option.nombreCompleto }}
        </mat-option>
      }
      
    </mat-autocomplete>
  </mat-form-field>
  