<div class="container-pedido">
  <div class="row">
      <form [formGroup]="form" class="ocultar" (ngSubmit)="agregarheader()">
          <!-- Campos del formulario -->
          <div mat-subheader>Datos Personales</div>
          
          <div class="oneInputs">
              <mat-form-field appearance="fill" class="idpedido">
                  <mat-label>Pedido</mat-label>
                  <input type="text" matInput  formControlName="pedidoNumber">
              </mat-form-field>
          </div>
          
          <div class="twoInputs">
              <mat-form-field>
                  <mat-label>Nombres Completos</mat-label>
                  <input matInput required type="text" formControlName="nombres">
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Cédula</mat-label>
                  <input matInput required type="text" formControlName="cedula">
              </mat-form-field>
          </div>
          <div class="oneInputs">
              <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input matInput required type="tel" formControlName="telefono">
              </mat-form-field>
              
          </div>
          <div class="oneInputs">
              <mat-form-field>
                  <mat-label>Provincia</mat-label>
                  <mat-select [(value)]="provinciaSeleccionada" formControlName="provincia">
                      <mat-option value="Guayas">Guayas</mat-option>
                      <mat-option value="Pichincha">Pichincha</mat-option>
                  </mat-select>
              </mat-form-field>
              
          </div>
          
          <div class="oneInputs">
              <mat-form-field class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <textarea matInput placeholder="Ej... Mapasingue Este" formControlName="direccion"></textarea>
              </mat-form-field>
          </div>
          <button mat-button type="submit">Agregar</button>
      </form>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="row" id="scroll">
      <div mat-subheader>Carrito</div>
      <mat-list class="centered-list">
          <ng-container *ngIf="product.length > 0; else noProducts">
              <mat-card class="card-productos" appearance="outlined" *ngFor="let prod of product; trackBy: trackByFn">
                  <mat-card-header>
                      <mat-card-title-group>
                          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                          <mat-card-title>{{prod.nombre}}</mat-card-title>
                          <mat-card-subtitle>{{prod.precio | currency: 'USD'}}</mat-card-subtitle>
                      </mat-card-title-group>
                  </mat-card-header>
                  <mat-card-content>
                      {{prod.descripcion}}
                  </mat-card-content>
                  <mat-card-footer class="card-footer">
                      <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="addArticulo()">
                          <mat-icon>add</mat-icon>
                      </button>
                      <mat-form-field class="Cantidad">
                          <mat-label>Cantidad</mat-label>
                          <input matInput [(ngModel)]="cantidad">
                      </mat-form-field>
                      <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="removeArticulo()">
                          <mat-icon>remove</mat-icon>
                      </button>
                  </mat-card-footer>
              </mat-card>
          </ng-container>
          <ng-template #noProducts>
              <p>No hay productos</p>
          </ng-template>
      </mat-list>
      <div class="total">
          <h3>Total: {{ total | currency: 'USD' }}</h3>
      </div>
  </div>
</div>
