
<div>
  <h1>Tienda de Fiestas Infantiles</h1>
</div>
<div>
  <nav>
    <div>
      <a href="">Lista Productos</a>
      <a routerLink="/producto" routerLinkActive="active">Productos</a>
      <a href="">Categorias</a>
      <a href="">Descuentos</a>
      <a routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
      <a routerLink="/usuario" routerLinkActive="active">Usuarios</a>
      <a routerLink="/categoria" routerLinkActive="active">Categorías</a>
    </div>
    
  </nav>
</div>

<router-outlet/>
