<div class="container mt-4">
    <div class="row">
      <!-- Formulario -->
      <div class="col-md-5">
        <h4>{{ usuarioEnEdicion ? 'Editar Usuario' : 'Registrar Usuario' }}</h4>
        <form (ngSubmit)="guardarUsuario()" #usuarioForm="ngForm" class="form-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              id="nombre"
              [(ngModel)]="nuevoUsuario.nombreCompleto"
              name="nombreCompleto"
              placeholder="Ingresa tu nombre"
              required
            />
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Correo</mat-label>
            <input
              matInput
              type="email"
              id="correo"
              [(ngModel)]="nuevoUsuario.correo"
              name="correo"
              placeholder="Ingresa tu correo"
              required
            />
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              id="contraseña"
              [(ngModel)]="nuevoUsuario.contrasena"
              name="contrasena"
              placeholder="Ingresa tu contraseña"
              required
            />
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              type="text"
              id="telefono"
              [(ngModel)]="nuevoUsuario.telefono"
              name="telefono"
              placeholder="Ingresa tu teléfono"
              required
            />
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Rol</mat-label>
            <mat-select
              id="rol"
              [(ngModel)]="nuevoUsuario.rol"
              name="rol"
              required
            >
              <mat-option value="" disabled>Selecciona un rol</mat-option>
              <mat-option value="administrador">Administrador</mat-option>
              <mat-option value="cliente">Cliente</mat-option>
              <mat-option value="vendedor">Vendedor</mat-option>
            </mat-select>
          </mat-form-field>
        
          <button
            mat-raised-button
            color="primary"
            class="submit-button"
            type="button"
            (click)="guardarUsuario1()"
          >
            {{ usuarioEnEdicion ? 'Guardar cambios' : 'Registrar' }}
          </button>
        </form>
      </div>
  
      <!-- Tabla -->
      <div class="col-md-7">
        <h4>Lista de Usuarios</h4>
  
            <!-- Buscador -->
            <div class="search-container">
              <mat-form-field appearance="outline" class="search-field">
                <mat-label>Buscar usuario</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="buscador"
                  placeholder="Buscar usuario"
                />
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="search-button"
                (click)="buscarUsuarios1()"
              >
                Buscar
              </button>
            </div>

      <app-table 
      [dataSource]="dataSource" 
      [displayedColumns]="displayedColumns" 
      [columnAliases]="columnAliases" 
      (onEdit)="handleEdit($event)" 
      (onDelete)="handleDelete($event)"
      >
    </app-table>
      </div>
    </div>
</div>
  
  
  <br> <br> <br>
  
  
  <router-outlet />
